.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: scale-down;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  text-transform: capitalize;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bolder;
}


/*For hover image*/

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .card-img-top {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: #515151;
  font-size: 16px;
  padding: 16px 32px;
  font-weight: bold;
}
