<app-navbar [cartCount]="cartCount"></app-navbar>
<div class="container-fluid">
  <div class="row" style="margin-top: 90px">
    <div  id="overlay" *ngIf="loading">
      <div class="loader"></div>
    </div>
    <div class="col-md-3">
      <h4 style="margin-left: 40px; margin-bottom: 20px; font-weight: bold">Filter by</h4>
      <ng-container *ngFor="let f of categories; let i = index">
        <product-filter [category]="f"></product-filter>
        <hr style="margin-left: 10px; border-width: 1px">
      </ng-container>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div *ngIf="param1 === ''; else elseBlockResults">
          <h4 style="margin-left: 10px; font-weight: bold">Results</h4>
        </div>
        <ng-template #elseBlockResults>
          <div style="display: flex; flex-direction: row;">
            <h4 style="margin-left: 10px; font-weight: bold">{{totalCount}} results for: {{param1}}</h4>
            <button (click)="clearFilter()" class="btn btn-outline-secondary my-2 my-sm-0" style="width: fit-content; height: fit-content; margin-left: 20px;">
              Clear Filter
            </button>
          </div>
        </ng-template>
        <div *ngIf="artPiecesToDisplay.length === 0; else elseBlock">
          <div style="text-align: center; margin-top: 70px">
            <a class="fas fa-search fa-5x" style="color: black; text-decoration:none"></a>
            <br><br>
            <h2>No matching art pieces found</h2>
          </div>
        </div>
        <ng-template #elseBlock>
          <ng-container *ngFor="let p of artPiecesToDisplay; let i = index">
            <div class="col-md-4">
              <product-card [ArtPiece]="p" (cartCount)="reloadItemCount($event)"></product-card>
            </div>
          </ng-container>
        </ng-template>
      </div>
    </div>
  </div>
</div>
