<app-navbar></app-navbar>

<div style="margin-top: 100px">
    <div style="margin-left: 30%; margin-right: 30%">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div *ngFor="let data of listArtPieces; let i = index" [ngClass]="i === 0 ? 'active' : ''" class="carousel-item">
            <img id = "autoscroll" [src]="data.imgURL" class="d-block w-100" alt="..." data-interval="{{ dataInterval ? 'true' : 'false' }}" (click)="stopAutoscroll()"/>
            <div class="carousel-caption d-none d-md-block">
              <h4>{{data.title}}</h4>
              <p>{{data.artist_title}}</p>
            </div>
          </div>
        </div>
          <button class="carousel-control-prev tooltip" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" (click)="stopAutoscroll()">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
              <span class="tooltiptext">Go Left</span>
          </button>
          <button class="carousel-control-next tooltip" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next" (click)="stopAutoscroll()">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
              <span class="tooltiptext">Go Right</span>
          </button>
      </div>
    </div>

  <div style="margin: 15px" class="d-grid gap-2 col-3 mx-auto">
    <button class="btn btn-outline-secondary" style="background-color: #28424f; color: white" type="button" (click)="redirectTo()">Explore</button>
  </div>
  </div>
